extend jade.resources/layout/master
block content
	.container
		.row
			include jade.resources/partials/breadcrumbs.jade
			p.full-headline Screen Materials
			.wrap.content
				h1 FireHawk G4
				img(src='http://www.placehold.it/700x300')
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu sapien id felis pharetra rhoncus. Nam hendrerit tempus dolor ac vulputate. Donec eu convallis nisl. Maecenas malesuada nibh mauris, vel euismod elit consectetur ac. Phasellus vehicula vehicula augue, vitae accumsan libero venenatis eu. Donec sapien lorem, euismod quis nisl vitae, dignissim pulvinar quam. Nunc eu sem sed mi auctor tincidunt nec non augue. Donec ac tincidunt est. Maecenas non mattis tellus. Proin quis neque felis. Curabitur ligula neque, convallis venenatis fermentum ut, commodo ac neque. Aenean ullamcorper vehicula ipsum, quis maximus tellus hendrerit sit amet. Sed eget mi risus.

				p Suspendisse nibh odio, tempor nec libero id, accumsan sodales orci. Cras quis tellus at neque cursus porttitor eu ut leo. Praesent sodales risus elementum, aliquam libero sit amet, euismod nisl. Nulla purus mauris, pulvinar in eleifend sit amet, tristique ut arcu. Morbi aliquam, nunc sit amet tempus facilisis, nulla erat molestie sem, eget rhoncus urna dolor sit amet nisi. Proin libero risus, mollis eu nibh vel, sollicitudin euismod enim. Morbi posuere, quam a porta fermentum, erat arcu luctus lorem, rutrum aliquet dolor mauris egestas ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque tempor ligula tempor risus aliquet, sit amet blandit sapien placerat. Suspendisse imperdiet ante sit amet euismod dictum. Nunc condimentum, est sit amet mattis convallis, metus dolor suscipit neque, tincidunt lobortis massa nulla sit amet diam. Mauris vitae elit id metus ultrices ullamcorper. Cras ornare varius neque, nec laoreet odio.
				ul 
					li Suspendisse nibh odio, tempor nec libero id
					li Suspendisse nibh odio, tempor nec libero id
					li Suspendisse nibh odio, tempor nec libero id
					li Suspendisse nibh odio, tempor nec libero id
					li Suspendisse nibh odio, tempor nec libero id
				table.inner-strip
					tbody
					tr
						td
							span Material Type          
						td
							span Flexible Front Projection        
					tr
						td
							span					
								strong Gain          
						td
							span 1.1        
					tr
						td
							span					
								strong Half Gain          
						td
							span 35 degrees        
					tr
						td
							span					
								strong Minimum Throw Distance          
						td
							span 1.5 x image width        
					tr
						td
							span					
								strong Ambient Light Front Reflectance Value          
						td
							span 27% per foot candle        
					tr
						td
							span					
								strong Ambient Light Resistance          
						td
							span Excellent performance in ambient light        
					tr
						td
							span					
								strong Lay Flat Quality          
						td
							span Excellent        
					tr
						td
							span					
								strong Flame Resistance          
						td
							span Flame Certificate        
					tr
						td
							span			
								strong Washable          
						td
							span Yes        
					tr
						td					
							strong Optional Sound Perforations           
						td
							span Microperf X2        
					tr
						td
							span					
								strong Maximum Size          
						td
							span Consult Factory        
					tr
						td					
							strong Seamless          
						td
							span Yes        
					tr
						td					
							strong Size Limitations          
						td 8&apos; x 90&apos; - Seamless        
					tr
						td
							strong Screen Models          
						td Fixed, retractable and variable masking
	