extend jade.resources/layout/master
block content
	.container
		.row
			.content-left.home-nav
				p Select  your project application
				ul
					li
						a.active(href='commercial-av.html') Commercial AV(click)          
					li
						a(href='home-cinema.html') Home Cinema(click) 
					li
						a(href='large-venue.html') Large Venue(click)         
					li
						a(href='#') Menu        
					li
						a(href='#') Menu
					li
						a(href='#') Menu          
					li
						a(href='post-production.html') Post Production(click)  
					li
						a(href='house-of-worship.html') House of Worship(click)         
					li
						a(href='#') Menu 
			.content-right.home-slider-container
				.home-slider
					.owl-carousel						
						.item
							img(src='assets/img/home-slide-1.jpg' class='img-responsive')
						.item
							img(src='assets/img/home-slide-1.jpg' class='img-responsive')
						.item
							img(src='assets/img/home-slide-1.jpg' class='img-responsive')
						.item
							img(src='assets/img/home-slide-1.jpg' class='img-responsive')
						.item
							img(src='assets/img/home-slide-1.jpg' class='img-responsive')
	.container				
		.main-featured
			.content-left
				a(href='#')
					img(src='assets/img/home-gallery.jpg' class='img-responsive')
					span View Our Project Gallery
			.content-right
				h3 Welcome to Stewart Filmscreen
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Natoque penatibu et magnis dis parturient montes, lorem ipsum dolor etna consecutum dionas puren tuan minum sen nascetur ridiculus mus.
				h4 Legacy of Stewart Filmscreen
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Natoque penatibu et magnis dis parturient montes, lorem ipsum dolor etna consecutum dionas puren tuan minum sen nascetur ridiculus mus.
				h4 Stewart Filmscreen industry honors
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoret. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Natoque penatibu et magnis dis parturient montes, lorem ipsum dolor etna consecutum dionas puren tuan minum sen nascetur ridiculus mus.
	.container
		.featured-half
			.media
				.media-left
					img(src='assets/img/4kres.jpg' class='img-responsive')
				.media-right
					h3
						a(href='#') 4K since '47 !
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
		.featured-half
			.media
				.media-left
					img(src='assets/img/home-events.jpg' class='img-responsive')
				.media-right
					h3
						a(href='#') Events
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.	
	.container 		
		.logo-carousel
			h5 Our partners
			.owl-carousel
				.item
					img(src='http://placehold.it/410x270' class='img-responsive')
				.item
					img(src='http://placehold.it/410x270' class='img-responsive')
				.item
					img(src='http://placehold.it/410x270' class='img-responsive')
				.item
					img(src='http://placehold.it/410x270' class='img-responsive')
				.item
					img(src='http://placehold.it/410x270' class='img-responsive')			
