extend jade.resources/layout/master
block content
	.container
		.row
			include jade.resources/partials/breadcrumbs.jade
			.content-left
				.main-content-upper
					h1 Home Cinema
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 
					p <strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. 					 
					.description
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet fermentum diam, sed euismod justo. Nam tincidunt dictum urna, sed vehicula ex eleifend bibendum. In viverra ex non eros blandit, at facilisis dolor laoreet.
					a(href='#' class='read-more') Read more(click)	
					.logos
						img(src='http://placehold.it/100x50')
						img(src='http://placehold.it/100x50')
						img(src='http://placehold.it/100x50')
			.content-right.inner-slider
				.owl-carousel
					.item
						img(src='http://placehold.it/877x344' class='img-responsive')
					.item
						img(src='http://placehold.it/877x344' class='img-responsive')
					.item
						img(src='http://placehold.it/877x344' class='img-responsive')
					.item
						img(src='http://placehold.it/877x344' class='img-responsive')
					.item
						img(src='http://placehold.it/877x344' class='img-responsive')
	.container
		.solutions-2column
			.options-with-sidebar
				p.solutions-headline Solutions Headline
				.option-item
					.option-headline
						img(src='http://www.placehold.it/150x100')
						p Lorem ipsum dolor sit amet
					.option-content
						.option-pick
							a(href='#')
								img(src='http://www.placehold.it/150x100')
								span Lorem ipsum dolor sit amet
						.option-pick
							a(href='#')
								img(src='http://www.placehold.it/150x100')
								span Lorem ipsum dolor sit amet	
				.option-item
					.option-headline
						img(src='http://www.placehold.it/150x100')
						p Lorem ipsum dolor sit amet
					.option-content
						.option-pick
							a(href='#')
								img(src='http://www.placehold.it/150x100')
								span Lorem ipsum dolor sit amet
						.option-pick
							a(href='#')
								img(src='http://www.placehold.it/150x100')
								span Lorem ipsum dolor sit amet	
				.option-item
					.option-headline
						img(src='http://www.placehold.it/150x100')
						p Lorem ipsum dolor sit amet
					.option-content
						.option-pick
							a(href='#')
								img(src='http://www.placehold.it/150x100')
								span Lorem ipsum dolor sit amet
				.option-item
					.option-headline					
						p Lorem ipsum dolor sit amet
					.option-content						
						.option-pick.option-pick-full						
							img(src='http://www.placehold.it/300x100')
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue.
								a(href='post-production.html') Learn more(click)														
			.options-sidebar
				.aside-cell
					h4.aside-title This is a much longer headline
					img(src='http://placehold.it/300x200')
					h5.aside-subheading Subheading
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue.
					a(href='learn-more.html') Learn more(click)				
	.container
		p.call-us Don't see what you're looking for? Call us @ 555-123-3456										
										


