extend jade.resources/layout/master
block content
	.container
		.row
			include jade.resources/partials/breadcrumbs.jade
			.content-left
				.big-carousel-image
					img(src='http://placehold.it/877x344' class='img-responsive')
				.thumb-carousel
					.owl-carousel
						.item
							img(src='http://placehold.it/877x344' class='img-responsive')
						.item
							img(src='http://placehold.it/877x344' class='img-responsive')
						.item
							img(src='http://placehold.it/877x344' class='img-responsive')
						.item
							img(src='http://placehold.it/877x344' class='img-responsive')
						.item
							img(src='http://placehold.it/877x344' class='img-responsive')				
			.content-right.inner-slider
				.main-content-upper
					h1 Commercial AV
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 
					p <strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. 					 
					.description
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet fermentum diam, sed euismod justo. Nam tincidunt dictum urna, sed vehicula ex eleifend bibendum. In viverra ex non eros blandit, at facilisis dolor laoreet.
					a(href='#' class='read-more') Read more(click)
	.container
		.row		
			.content-with-sidebar
				h2 This is a long two row Headline
				.full-cell					
					.media
						.media-left
							img(src='http://placehold.it/350x180' class='media-object')
						.media-right
							h3.media-headline 
								a(href='product-detail.html') Model XSAW(click)
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 
				.full-cell					
					.media
						.media-left
							img(src='http://placehold.it/350x180' class='media-object')
						.media-right
							h3.media-headline This is another headline
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent.
				.full-cell					
					.media
						.media-left
							img(src='http://placehold.it/350x180' class='media-object')
						.media-right
							h3.media-headline This is another headline
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 
				.full-cell					
					.media
						.media-left
							img(src='http://placehold.it/350x180' class='media-object')
						.media-right
							h3.media-headline This is another headline
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 
				.full-cell					
					.media
						.media-left
							img(src='http://placehold.it/350x180' class='media-object')
						.media-right
							h3.media-headline This is another headline
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue. Donec pharetra varius sem non pulvinar. Nullam ut suscipit augue. Class aptent taciti sociosqu ad litora orquent. 						
			.content-sidebar
				.aside-cell
					h4.aside-title This is a much longer headline
					img(src='http://placehold.it/300x200')
					h5.aside-subheading Subheading
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue.
					a(href='learn-more.html') Learn more(click)
				.aside-cell
					h4.aside-title This is a much longer headline
					img(src='http://placehold.it/300x200')
					h5.aside-subheading Subheading
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut scelerisque augue.
					a(href='learn-more.html') Learn more(click)
	.container
		p.call-us Don't see what you're looking for? Call us @ 555-123-3456						