body
	// background-image: url(../img/background.png)
	// background-repeat: repeat-x
	// background-size: 100% 100%	
	background-color: #000
	@media (min-width: $screen-sm-min)
		background-color: #fff
.container
	+container-fixed
	@media (min-width: $screen-sm-min)
		width: $container-sm
	@media (min-width: $screen-md-min)
		width: $container-md
	@media (min-width: $screen-lg-min)
		width: $container-lg
.row
	+make-row()		
.wrapper 
	// background-color: #fff
	background-color: rgba(255,255,255,0.95)
.block-header
	font-weight: 300
	font-size: 1.4em
	border-bottom: 1px solid #eee
	margin-bottom: 0.5em
	line-height: 1.6em
	// text-transform: uppercase

.aside
	+make-sm-column(4)
	+make-md-column(2)
.breadcrumbs
	+make-sm-column(12)		
	ul
		+h-nav
		list-style-type: none 
		padding-left: 0
		a
			color: #000
			line-height: 2.2em
			text-transform: uppercase
			color: #fff
			&:hover
				color: $blue
		li 		
			font-weight: 400
			&:after	
				color: #fff
				font-family: "FontAwesome"
				content: "\f054"
				margin-left: 5px
				margin-right: 5px
				font-weight: 400
				font-size: 0.5em
				vertical-align: middle
				// color: $blue
			&:last-child:after
				content: ""	
				// color: $red
.content-left
	+make-sm-column(5)
	margin-bottom: 2em
.content-right
	+make-sm-column(7)
	margin-bottom: 2em
.content-products-left
	+make-sm-column(3)
	padding-top: 2em
	margin-bottom: 2em
.content-products-right
	padding-top: 2em
	+make-sm-column(9)
	margin-bottom: 2em	
// .wrap
// 	+make-xs-column(12)	
// 	margin: 0 auto
// 	float: none
// 	max-width: 100%
	// @media (min-width: $screen-md-min)
	// 	max-width: 70%
.full-headline
	margin: 0px $spacing $spacing
	margin: $spacing
	text-align: center
	font-size: 1.5em
	line-height: 2em
	border-bottom: 1px solid #000
.content		
	ul
		padding-left: 17px
		list-style-type: initial
	img
		margin-bottom: 1em

.inner-strip 
	padding-top: 2em
	width: 100%
	margin: 1em auto
	@media (min-width: $screen-md-min)
		width: 80%
	td
		padding: 0.5em
	tr:nth-child(odd)>td 
		background-color: #f7f7f7					
	tr:nth-child(odd)>th
		background-color: #f7f7f7	
		
.options-with-sidebar
	@extend .content-with-sidebar
	padding: 0px
.options-with
	@extend .content-sidebar		

.main-content-upper
	// color: #fff
	h1 
		color: #000
.top-main
	background-color: #000
	margin-bottom: 20px
	@media (min-width: $screen-sm-min)		
		
		min-height: 555px
		+background-image(linear-gradient(#000000, #ffffff))
		background-position: left top
.top-main-short
	// +background-image(linear-gradient(#000000, #ffffff))
	background-color: #fff
	background-image: none
	background-image: url(../img/background3.png)
	background-repeat: repeat-x
	background-position: left -3px
	min-height: 1px
.owl-nav
	position: absolute
	top: 50%
	left: 0
	right: 0
	color: #fff
	margin-top: -7px
	height: 0px	
	z-index: 99
	.owl-prev
		float: left
		padding-left: 10px
	.owl-next
		float: right
		padding-right: 10px
.product-list
	.media
		padding: 1em
		border: 1px solid #000		
.filter-wrapper
	margin-bottom: 1em		
#clearFilters	
	width: 100%
	display: block 
	background-color: #eee
	color: #000
	text-align: center
	line-height: 2em
	cursor: pointer 
	margin-bottom: 0.5em
#applyFilters
	background-color: $primary
	display: block	
	outline: none
	width: 100%
	text-align: center 
	line-height: 2em
	border: none
	color: #fff
.filter-vertical 
	h3 
		font-size: 0.8em
		font-weight: 700	
.help
	position: fixed
	top: 197px
	// margin-top: -103px
	right: 0px
	z-index: 3
	display: none
	width: 450px 
	margin-left: -390px
	left: 0px
	cursor: pointer
	.help-trigger
		float: right
	a 
		color: $secondary
		@extend .button-primary		
		color: #fff
	.help-container
		background-color: #000
		color: #fff
		padding: 40px 20px 20px 20px
		float: left
		width: 384px
		height: 207px	
	@media (min-width: $screen-sm-min)
		display: block
.solutions-2column.special-column
	@media (min-width: 768px) and (max-width: 991px)
		width: 100%
.black
	background-color: #000
	color: #fff
	text-align: center
	padding: 0.5em
	img
		border: 1px solid #666
	.section-title
		text-align: center
		font-weight: 600
		font-size: 1.2em
		color: #fff
		padding-top: 10px
		// padding:20px 
	ul 
		list-style-type: none	
#mainContent .black ul 
	list-style-type: none		
.white-center
	background-color: #fff
	text-align: center
	color: #000
	padding: 6px

.white-left
	background-color: #fff
	text-align: left
	color: #000
	padding: 6px

.white-right
	background-color: #fff
	text-align: right
	color: #000
	padding: 6px

.black-center
	background-color: #000
	text-align: center
	color: #fff
	padding: 6px

.black-left
	background-color: #000
	text-align: left
	color: #fff
	padding: 6px

.black-right
	background-color: #000
	text-align: right
	color: #fff
	padding: 6px

.blue-center
	background-color: $primary
	text-align: center
	color: #fff
	padding: 6px

.blue-left
	background-color: $primary
	text-align: left
	color: #fff
	padding: 6px

.blue-right
	background-color: $primary
	text-align: right
	color: #fff
	padding: 6px		
.min-container 
	min-height: 1080px
	min-height: 780px
.wrap-fix
	padding: 0 $spacing	
.image-gallery 
	margin: 0 -10px		
#links
	+clearfix	
	.thumbnail-image
		+make-sm-column(4)
		padding: 0px 10px
		margin-bottom: 20px
		.media-left
			width: 50%
		.media-body 
			p 
				font-weight: 600
				color: #000	
.video-item
	+make-sm-column(6)
	+make-md-column(4)	
	margin-top: 0px
	margin-bottom: $spacing/2
	.media-left
		width: 50%
.contact-form 
	.button-reset
		border: none	
.customize-form
	font-size: 1em
	// .form-control
	// 	margin-bottom: 0.5em
	.form-group
		margin-bottom: 0.5em	
	.controls 
		font-weight: 600	
		font-size: 1.2em		
		input 
			font-size: 0.9rem
			font-weight: 400
		label 
			font-size: 0.9rem
			font-weight: 400	
// .top-main
// 	ul 
// 		list-style-type: disc
// 		padding-left: 1.5em		
// .top-main-short 
// 	ul 
// 		list-style-type: disc
// 		padding-left: 1.5em		
// .content-left, .content-right 
// 	ul 
// 		list-style-type: disc
// 		padding-left: 1.5em	
// 	.flexslider
// 		ul 
// 			list-style-type: none 
// 			padding: 0	
#mainContent
	ul 
		list-style-type: disc
		padding-left: 1.5em	
.post-desc 
	img 
		margin: 0.5em 0.5em 0.5em 0