.container
	.footer
		.footer-upper
			ul.footer-nav
				li
					a(href='#') Menu
				li
					a(href='#') Menu
				li
					a(href='#') Menu
			.footer-social
				ul
					li
						a(href='#')
							i(class='fa fa-twitter')
					li
						a(href='#')
							i(class='fa fa-facebook')
					li
						a(href='#')
							i(class='fa fa-youtube')
		.footer-lower
			p This is an awesome website 2015					

script(defer type='text/javascript' src='assets/js/tab.js')
script(defer type='text/javascript' src='assets/js/main.js')
script(defer type='text/javascript' src='assets/js/owl.carousel.js')
