.container
	.footer
		.footer-upper
			ul.footer-nav
				li
					a(href='#') Terms and Conditions
				li
					a(href='#') Privacy Policy
				li
					a(href='#') Site Directory
			.footer-social
				ul
					li
						a(href='#')
							i(class='fa fa-twitter-square')
					li
						a(href='#')
							i(class='fa fa-facebook-square')
					li
						a(href='#')
							i(class='fa fa-youtube-square')
		.footer-lower
			p &copy; Stewart Filmscreen Corporation 2015

script(defer type='text/javascript' src='assets/js/tab.js')
script(defer type='text/javascript' src='assets/js/main.js')
script(defer type='text/javascript' src='assets/js/owl.carousel.js')
