.header 
  .container
    .middle
      .logo
        a(href='homepage.html')
          img(src='assets/img/logo.jpg' class='img-responsive') 
      ul
        li
          a(href='') Contact Us
        li
          a(href='') Locate a Dealer
        li
          a(href='') Dealer Log in
        li
          a(href='') Glossary  
      .search-home
        form.form-group
          input.form-control(type='search', placeholder='Search...')
          button(type='button')
            i.fa.fa-search        