.header  
  .upper
    .container      
      ul
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
      .search-home
        form.form-group
          input.form-control(type='search', placeholder='Search...')
          button(type='button')
            i.fa.fa-search    
  .container
    .middle
      .logo
        a(href='homepage.html')
          img(src='http://placehold.it/200x70/FAFAFA/000000' class='img-responsive') 