.container
  .main-nav
    ul
      li
        a.active(href='commercial-av.html') Screen Material Comparison Guide           
      li
        a(href='category.html') Applications 
      li
        a(href='category.html') Standard Products         
      li
        a(href='category.html') Support          
      li
        a(href='category.html') About 
